*{
    font-family: verdana;
    margin: 0
}

body {
    background: #eee
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto
}

/* FLEX-GROW  */
/* .flex-container {
    display: flex;
    background: #ffffff
}


.box {
    height: 100px;
    min-width: 100px
}

.one {
    background: red;
    flex-grow: 4
}

.two {
    background: blue;
    flex-grow: 6
}

.three {
    background: green;
    flex-grow: 2
} */



/* FLEX-SHRINK */

 /*.flex-container {
    display: flex;
    background: #ffffff
}


.box {
    height: 100px;
    width: 320px
}

.one {
    background: red;
    flex-shrink: 1
}

.two {
    background: blue;
    flex-shrink: 2
}

.three {
    background: green;
    flex-shrink: 3
} */


/* FLEX-WRAP */
/* .flex-container {
    display: flex;
    background: #ffffff;
    flex-wrap: wrap;
}
.box {
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}

.one {
    background: red;
    
} 

.two {
    background: blue;
    
}

.three {
    background: green;
    
} */


/* FLEX-BASIS              */
.flex-container {
    display: flex;
    background: #ffffff;
    flex-wrap: wrap;
}
.box {
    height: 100px;
    flex: 1 0 200px;
}

.one {
    background: red;
} 

.two {
    background: blue;
}

.three {
    background: green;
}